body {
  background: #fff;
}
#hdr-container {
  display: flex;
  margin: 10% auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#hdr-container #ribbon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(160px);
  margin: auto 0 1.3em;
}
#hdr-container #ribbon-container #ribbon {
  width: calc(150px);
  position: relative;
  background-color: #3c4b63;
  color: #fff;
  text-align: center;
  padding: 0.5em 1.5em;
}
#hdr-container #ribbon-container #ribbon #ribbon-text:before,
#hdr-container #ribbon-container #ribbon #ribbon-text:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #221d3a transparent transparent transparent;
  bottom: -0.5em;
}
#hdr-container #ribbon-container #ribbon #ribbon-text:before {
  left: 0;
  border-width: calc(0.5em) 0 0 calc(0.5em);
}
#hdr-container #ribbon-container #ribbon #ribbon-text:after {
  right: 0;
  border-width: calc(0.5em) calc(0.5em) 0 0;
}
#hdr-container #ribbon-container #ribbon:before,
#hdr-container #ribbon-container #ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.5em;
  border: 1em solid #3c4b63;
  z-index: -1;
}
#hdr-container #ribbon-container #ribbon:before {
  left: -1.5em;
  border-right-width: 1em;
  border-left-color: transparent;
}
#hdr-container #ribbon-container #ribbon:after {
  right: -1.5em;
  border-left-width: 1em;
  border-right-color: transparent;
}
#hdr-container #slide-container {
  display: flex;
  width: calc(150px);
  margin: auto;
  z-index: 1;
}
#hdr-container #slide-container .slide {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50px;
  height: 50px;
}
#hdr-container #slide-container .slide i {
  position: absolute;
  opacity: 0.3;
  margin: auto;
  line-height: 50px;
  padding: none;
  color: #bebebe;
  cursor: default;
}
#hdr-container #slide-container .slide .slide-text {
  margin: auto;
  font-family: 'Segoe UI', 'Tahoma';
  line-height: 50px;
  color: #bebebe;
  cursor: default;
}
#hdr-container #slide-container #slide-1 {
  background-color: #0077a7;
  opacity: 0.6;
  animation: slide-1 8s ease-in-out infinite;
}
#hdr-container #slide-container #slide-2 {
  background-color: #0ea700;
  opacity: 0.6;
  animation: slide-2 8s ease-in-out infinite;
}
#hdr-container #slide-container #slide-3 {
  background-color: #a75f00;
  opacity: 0.6;
  animation: slide-3 8s ease-in-out infinite;
}
.go-back {
  z-index: -1;
  opacity: 0.6;
}
.go-forward {
  z-index: 1;
  opacity: 1;
}
@keyframes slide-1 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 1;
    opacity: 1;
  }
  33% {
    -webkit-transform: translateX(50px) scale(1.5);
    transform: translateX(50px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
  66% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    z-index: -1;
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: -1;
    opacity: 0.6;
  }
}
@keyframes slide-2 {
  0% {
    -webkit-transform: translateX(0px) scale(1.5);
    transform: translateX(0px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
  33% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    z-index: -1;
    opacity: 0.6;
  }
  66% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    z-index: -1;
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(0px) scale(1.5);
    transform: translateX(0px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
}
@keyframes slide-3 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: -1;
    opacity: 0.6;
  }
  33% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    z-index: -1;
    opacity: 0.6;
  }
  66% {
    -webkit-transform: translateX(-50px) scale(1.5);
    transform: translateX(-50px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: -1;
    opacity: 0.6;
  }
}
@-webkit-keyframes slide-1 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 1;
    opacity: 1;
  }
  33% {
    -webkit-transform: translateX(50px) scale(1.5);
    transform: translateX(50px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
  66% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    z-index: -1;
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: -1;
    opacity: 0.6;
  }
}
@-webkit-keyframes slide-2 {
  0% {
    -webkit-transform: translateX(0px) scale(1.5);
    transform: translateX(0px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
  33% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    z-index: -1;
    opacity: 0.6;
  }
  66% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    z-index: -1;
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(0px) scale(1.5);
    transform: translateX(0px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
}
@-webkit-keyframes slide-3 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: -1;
    opacity: 0.6;
  }
  33% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    z-index: -1;
    opacity: 0.6;
  }
  66% {
    -webkit-transform: translateX(-50px) scale(1.5);
    transform: translateX(-50px) scale(1.5);
    z-index: 1;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    z-index: -1;
    opacity: 0.6;
  }
}
