@clr-bg: #fff;
@clr-txt: rgb(190, 190, 190);
@clr-slide-bg-1: rgba(0, 119, 167, 1);
@clr-slide-bg-2: rgb(14, 167, 0);
@clr-slide-bg-3: rgb(167, 95, 0);
@slide-opacity: 0.6;
@slide-size: 50px;
@ribbon-clr: rgb(60, 75, 99);
@ribbon-clr-shade: rgb(34, 29, 58);
@ribbon-height: 1em;
@ribbon-padding-top: 0.5em;
@ribbon-padding-side: 1.5em;

body {
    background: @clr-bg;
}

#hdr-container {
    display: flex;
    margin: 10% auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    #ribbon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(10 + @slide-size * 3);
        margin: auto 0 1.3em;
        
        #ribbon {
            width: calc(@slide-size * 3);
            position: relative;
            background-color: @ribbon-clr;
            color: #fff;
            text-align: center;
            padding: @ribbon-padding-top @ribbon-padding-side;
            // margin: 2em auto 3em;
            #ribbon-text {}
            #ribbon-text:before,
            #ribbon-text:after {
                content: "";
                position: absolute;
                display: block;
                border-style: solid;
                border-color: @ribbon-clr-shade transparent transparent transparent;
                bottom: -0.5em;
            }
            #ribbon-text:before {
                left: 0;
                border-width: calc(@ribbon-height/2) 0 0 calc(@ribbon-height/2);
            }
            #ribbon-text:after {
                right: 0;
                border-width: calc(@ribbon-height/2) calc(@ribbon-height/2) 0 0;
            }
        }
        #ribbon:before,
        #ribbon:after {
            content: "";
            position: absolute;
            display: block;
            bottom: -0.5em;
            border: @ribbon-height solid @ribbon-clr;
            z-index: -1;
        }
        #ribbon:before {
            left: -1.5em;
            border-right-width: 1em;
            border-left-color: transparent;
        }
        #ribbon:after {
            right: -1.5em;
            border-left-width: 1em;
            border-right-color: transparent;
        }
    }
    #slide-container {
        display: flex;
        width: calc(@slide-size * 3);
        margin: auto; // border: 1px solid rgb(0, 125, 141);
        z-index: 1;
        .slide {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: @slide-size;
            height: @slide-size;
            i{
                position: absolute;
                opacity: 0.3;
                margin: auto;
                line-height: @slide-size;
                padding: none;
                color: @clr-txt;
                cursor: default;
            }
            .slide-text {
                margin: auto;
                font-family: 'Segoe UI', 'Tahoma';
                line-height: @slide-size;
                color: @clr-txt;
                cursor: default;
            }
        }
        #slide-1 {
            background-color: @clr-slide-bg-1;
            opacity: @slide-opacity;
            animation: slide-1 8s ease-in-out infinite;
        }
        #slide-2 {
            background-color: @clr-slide-bg-2;
            opacity: @slide-opacity;
            animation: slide-2 8s ease-in-out infinite;
        }
        #slide-3 {
            background-color: @clr-slide-bg-3;
            opacity: @slide-opacity;
            animation: slide-3 8s ease-in-out infinite;
        }
    }
}

.go-back {
    z-index: -1;
    opacity: @slide-opacity;
}

.go-forward {
    z-index: 1;
    opacity: 1;
}

@keyframes slide-1 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-forward;
    }
    33% {
        -webkit-transform: translateX(50px) scale(1.5);
        transform: translateX(50px) scale(1.5);
        .go-forward;
    }
    66% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        .go-back;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-back;
    }
}

@keyframes slide-2 {
    0% {
        -webkit-transform: translateX(0px) scale(1.5);
        transform: translateX(0px) scale(1.5);
        .go-forward;
    }
    33% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        .go-back;
    }
    66% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        .go-back;
    }
    100% {
        -webkit-transform: translateX(0px) scale(1.5);
        transform: translateX(0px) scale(1.5);
        .go-forward;
    }
}

@keyframes slide-3 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-back;
    }
    33% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        .go-back;
    }
    66% {
        -webkit-transform: translateX(-50px) scale(1.5);
        transform: translateX(-50px) scale(1.5);
        .go-forward;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-back;
    }
}


@-webkit-keyframes slide-1 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-forward;
    }
    33% {
        -webkit-transform: translateX(50px) scale(1.5);
        transform: translateX(50px) scale(1.5);
        .go-forward;
    }
    66% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        .go-back;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-back;
    }
}

@-webkit-keyframes slide-2 {
    0% {
        -webkit-transform: translateX(0px) scale(1.5);
        transform: translateX(0px) scale(1.5);
        .go-forward;
    }
    33% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        .go-back;
    }
    66% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        .go-back;
    }
    100% {
        -webkit-transform: translateX(0px) scale(1.5);
        transform: translateX(0px) scale(1.5);
        .go-forward;
    }
}

@-webkit-keyframes slide-3 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-back;
    }
    33% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        .go-back;
    }
    66% {
        -webkit-transform: translateX(-50px) scale(1.5);
        transform: translateX(-50px) scale(1.5);
        .go-forward;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        .go-back;
    }
}
